

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*============ALL============*/
* {
	font-family: 'Kreon', serif;
	color: #333;
}

ul {
list-style:none;
margin-left:0;
padding-left:0;
}


/*============NAV============*/

div.main-wrapper {
	background-image: url(../img/pexels-photo-132694.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

nav.navbar-fixed-top {
	background-color: rgba(33,45,57, 0.8);
	border-bottom: solid 5px #3e2c0a;
}

.navbar-inverse .navbar-brand {
	color: white;
}

/*============MAIN============*/





/*============FOOTER============*/


