

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*============ALL============*/
* {
	font-family: 'Kreon', serif;
	color: #333;
}

ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
}

hr {
	width: 10%;
	border-bottom: solid 3px #3e2c0a;
	margin-bottom: 50px;
	margin-top: 50px;
}


.hgroup>* {
	text-transform: uppercase;
}




/*============NAV============*/

div.main-wrapper {
	background-image: url(../img/pexels-photo-132694.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

nav.navbar-fixed-top {
	background-color: rgba(33,45,57, 0.8);
	border-bottom: solid 5px #3e2c0a;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-brand h1 {
	margin: -10px;
}

/*============MAIN============*/
/*Multisection*/
#presentation, #carte, #reservations {
	background-color: white;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1em;
}


.fa {
    font-size: 50px !important;
}

.faw {
	color: white;
}



#chiffres p, #menus p, #menus h1 #menus h2, section h1, .prix{
	color: white;
}

#presentation, #chiffres, #carte, #menus, #reservations {
 padding: 10vh;
}

/*Unisectiono*/

#accueil {
	padding: 5px;
	height: 90vh;
	padding-top: 30vh;
}


#accueil .hgroup {
	margin: auto;
}


#accueil .hgroup h1 {
	color: white;
	background-color: #3e2c0a; 
	margin:10px 30% 10px 30%;
	font-size: 5em;
}

#accueil .hgroup h2 {
	color: #3e2c0a;
	background-color: white;
	margin:10px 30% 10px 30%;
	font-size: 2em;
}

#accueil div:nth-child(2) {
	text-align: center;
	padding-top: 30vh;
}

#carte section h1 {
	color: #3e2c0a;
}

#carte section {
	margin-top: 0;
	padding-top: 0;
}

.image {
	border: grey white 5px;
	border-radius: 10px;
	width: 100%;
	height: 380px;
	border: solid white 3px;
	border-radius: 5px;
	margin: 0;
	padding: 0;
}

#img1 {
	background-image: url(../img/carte/cakes.png);
	background-repeat: no-repeat;
	background-size: contain ;
}

#img2 {
	background-image: url(../img/carte/hot-drinks.png);
	background-repeat: no-repeat;
	background-size: contain ;
}

#img3 {
	background-image: url(../img/carte/ice-drinks.png);
	background-repeat: no-repeat;
	background-size: contain ;
}




#presentation  h1{
	font-size: 1.5em;
}

img {
	padding: 0;
	
}

img + h1 {
	color: #3e2c0a;
}

.hgmenu {
	color: white;
	margin: 20px;
}


.prix {
	border: solid 4px white;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	font-size: 1.5em
	
}

.prix p {
	margin: auto;
}

.un, .quatre {
	background-color: #3e2c0a;
}

.deux {
	background-color: lightblue;
}

.trois {
	background-color: lightgreen;
}

.form {
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-bottom: 20px;
}

.form-control {
	width: 46%;
	margin: 20px 2% 20px 2% ;
	border-radius: 2px;
}

.far {
	font-size: 1.1em !important;
}

.info {
	font-size: 1.1em;
}


/*============FOOTER============*/

footer {
	background-color: #3e2c0a;
	height: 30vh;
	padding-top: 80px;
}

small {
	color: white;
	font-size: 1em
}

footer .fa {
	padding: 5px;
}